
/* @media screen and (max-width:770px){ 

    .paciente{
        float:left;
        width:auto;
        background:white;
    }
    .medico{
        float:left;
        width:auto;
        background:white;
        

    }
    .criarConta{
        margin-top:40px;
    }
} */